body {
  background: #37414a;
  text-align: center;
}
.header1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
}
.header2 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.wrapper {
  display: inline-block;
  height: 590px;
}
.subwrapper {
  text-align: left;
}
select {
  width: 75px;
  height: 30px;
  padding: 2px 7px;
  border-radius: 5px;
  color: #bbbbbb;
  font-style: italic;
  margin-left: 20px;
}
select option {
  color: black;
  font-style: normal;
}
.blockstyle {
  margin-top: 20px;
  display: inline-block;
  width: 585px;
  height: 550px;
  background: #c1262a;
  box-sizing: border-box;
  padding: 100px;
  float: left;
}
.rightblock {
  background: #00b9b3;
  margin-left: -3px;
  float: right;
}
hr {
  border: none;
  background-color: #5d6770;
  color: #5d6770;
  height: 1px !important;
  margin-top: 45px;
  margin-left: 15px;
  margin-right: 15px;
  clear: both;
}
label {
  color: white;
  font-family: Arial;
  height: 30px;
}
input {
  height: 22px;
  padding: 2px 7px;
  border-radius: 5px;
  margin-top: 5px;
}
@media (max-width: 1200px) {
  .blockstyle {
    float: none;
  }
}
