body {
	background: #37414A;
		text-align: center;
}


.wrapper {




display: inline-block;
	.blockstyle{
		margin-top: 20px;
		display: inline-block;
		width: 585px;
		height: 550px;
		background: #C1262A;
		box-sizing: border-box;
	}

	.rightblock{
		background: #00B9B3;
		margin-left: -3px;
	}
	hr{
		border: none; 
	    background-color: #5D6770; 
	    color: #5D6770; 
	    height: 1px; 
	    margin-top: 45px;
	    margin-left: 15px;
	    margin-right: 15px;

	}

	select{
		width: 75px;
		height: 30px;
		padding: 2px 7px;
		border-radius: 5px;
		color: #BBBBBB;
		font-style: italic;	
		option{
			color: #000000;
			font-style: normal;
		}
	}


}


